$social-button-active-color: #fff;
$social-button-transition-time: 0.3s;
$social-button-colors: (
  "mail": #0072c6,
  "facebook": #3b5999,
  "linkedin": #0077b5,
  "github": #6e5494,
  "codepen": #212121,
  "steam": #7da10e,
  "snapchat": #eec900,
  "twitter": #55acee,
  "instagram":
    linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d),
  "npmjs": #c12127,
);

.footer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding-top: 32px;
  
  @media (max-width: 600px) {
    margin-top: 32px;
    padding-top: 24px;
  }
  
  &__iconWrapper {
    width: 60px;
    height: 60px;
    background: rgba(101, 101, 81, 0.3) !important;
    position: relative;
    border-radius: 50%;
    font-size: 22px;
    margin: 0 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    
    @media (max-width: 600px) {
      width: 54px;
      height: 54px;
      font-size: 20px;
      margin: 0 8px;
    }
    
    span {
      position: relative;
      color: rgba(255, 255, 255, 0.7);
      z-index: 1;
    }
    
    &::after {
      content: "";
      position: absolute;
      top: -1px;
      left: 50%;
      display: block;
      width: 0;
      height: 0;
      border-radius: 100%;
      transition: $social-button-transition-time;
    }

    &:focus,
    &:hover {
      &::after {
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        margin-left: calc(-50% - 1px);
      }
    }
  }
  
  @each $name, $color in $social-button-colors {
    &__#{$name} {
      &::after {
        background: $color !important;
      }
    }
  }
}
