@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
$montserrat: "Montserrat", sans-serif;
$primary: #9da284;
$secondary: #2c281d;
.mainSection {
  background: $primary;
  position: relative;
  scroll-snap-align: start;
  overflow: hidden;
  &__container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    position: relative;
    @media (max-width: 600px) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    @media (max-width: 450px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  &__title {
    font-size: 64px;
    font-family: $montserrat;
    text-transform: uppercase;
    font-weight: 700;
    color: $secondary;
    z-index: 10;
    @media (max-width: 967px) {
      font-size: 58px;
    }
    @media (max-width: 789px) {
      font-size: 52px;
    }
    @media (max-width: 600px) {
      font-size: 48px;
    }
    @media (max-width: 550px) {
      font-size: 42px;
    }
    @media (max-width: 480px) {
      font-size: 36px;
    }
    @media (max-width: 400px) {
      font-size: 34px;
    }
  }
  &__subtitle {
    color: #ffffff;
    font-size: 64px;
    font-family: "Antro_vectra";
    padding-left: 32px;
    z-index: 10;
    @media (max-width: 967px) {
      font-size: 59px;
      padding-left: 0;
    }
    @media (max-width: 768px) {
      font-size: 48px;
    }
    @media (max-width: 600px) {
      font-size: 44px;
    }
    @media (max-width: 550px) {
      font-size: 38px;
    }
    @media (max-width: 480px) {
      font-size: 32px;
    }
    @media (max-width: 400px) {
      font-size: 30px;
    }
  }
  &__left {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    @media (max-width: 1100px) {
      width: 70% !important;
    }
    @media (max-width: 967px) {
      width: 85% !important;
      margin-top: -12%;
    }
    @media (max-width: 769px) {
      width: 100% !important;
      margin-top: 20%;
      justify-content: flex-start;
    }
    @media (max-width: 600px) {
      margin-top: 0;
    }
  }
  &__left p,
  &__left h2 {
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
  }
  &__right {
    width: 40%;
    height: 100%;
    display: flex;
    flex: 1;
    position: relative;
    &Circle {
      position: absolute;
      border-radius: 50%;
      width: 850px;
      height: 850px;
      bottom: -35%;
      right: -10%;
      background: #2c281d;

      @media (max-height: 800px) {
        width: 700px;
        height: 700px;
      }
      @media (max-height: 710px) {
        width: 640px !important;
        height: 640px !important;
      }
      @media (max-width: 1500px) {
        width: 900px;
        height: 900px;
        bottom: -40%;
      }
      @media (max-width: 1400px) {
        width: 850px;
        height: 850px;
      }
      @media (max-width: 1300px) {
        width: 650px;
        height: 650px;
      }
      @media (max-width: 1200px) {
        width: 700px;
        height: 700px;
      }
      @media (max-width: 1100px) {
        width: 650px;
        height: 650px;
      }
      @media (max-width: 1000px) {
        width: 600px;
        height: 600px;
      }
      @media (max-width: 769px) {
        bottom: -40%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 95%;
      }
      @media (max-width: 550px) {
        width: 120%;
        div {
          margin-top: -50px;
        }
      }
      @media (max-width: 500px) {
        div {
          margin-top: -150px;
        }
      }
      @media (max-width: 400px) {
        width: 135%;
        font-size: 30px;
        div {
          margin-top: -150px;
        }
      }
      div {
        position: relative;
        width: 100%;
        height: 100%;
      }
      img {
        position: absolute;
        bottom: 10%;
        right: 10%;
        width: 88%;
      }
    }
  }
}

.aboutSection {
  background: $secondary;
  -webkit-transition: $secondary 1000ms linear;
  -ms-transition: $secondary 1000ms linear;
  font-weight: 700;
  height: auto;
  &Content {
    display: flex;
    padding: 48px;
    padding-right: 0px;
    &Left {
      width: 55%;
      display: flex;
      flex-direction: column;
      text-align: justify;
      justify-content: center;
      @media (max-width: 960px) {
        width: 100%;
      }
      @medi (max-width: 600px) {
        text-align: left;
      }
    }
    &Right {
      display: flex;
      padding-left: 2%;
      width: 43%;
      > div {
        display: flex;
        width: 100%;
        height: 100%;
      }
      @media (max-width: 960px) {
        padding-left: 0;
        width: 100%;
      }
    }
    @media (max-width: 960px) {
      flex-direction: column;
      padding-right: 48px;
    }
    @media (max-width: 600px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  &LastPara {
    font-size: 28px;
    line-height: 34px;
    @media (max-width: 1500px) {
      font-size: 22px;
      line-height: 32px;
    }
    @media (max-width: 1100px) {
      font-size: 18px;
    }
  }
  p {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 1em;
    &:first-child {
      margin-top: 16px;
    }

    color: white;
    @media (max-width: 1500px) {
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 0.7em;
    }
    @media (max-width: 1100px) {
      font-size: 18px;
    }
  }
  span {
    color: $primary;
  }
  &Hoverable {
    color: white !important;
    cursor: pointer;
  }
  &Hoverable:hover {
    transition: all ease-in-out 0.25s;
    color: $primary !important;
  }
}
.projectSection {
  scroll-snap-align: start;
  background: $primary;
  display: flex;
  &Content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 48px;
    @media (max-width: 600px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    &Outer {
      display: grid;
      grid-gap: 2rem;
      gap: 2rem;
      grid-row-start: 1;
      grid-row-end: 3;
      // grid-template-columns: repeat(3,minmax(1,2fr));
      justify-content: space-between;
      align-items: center;
      justify-content: center;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-template-columns: auto auto auto;

      @media (max-width: 1279px) {
        grid-template-columns: auto auto;
        grid-gap: 1.5rem;
        gap: 1rem;
      }
      @media (max-width: 959px) {
        grid-template-columns: auto;
      }
    }
  }
  h2 {
    font-weight: 600;
    text-align: center;
    color: #fff;
    font-size: 42px;
    margin: 42px 0 26px 0;
    color: #2c281d;
    @media (max-width: 600px) {
      font-size: 32px;
      margin: 18px 0 18px 0;
    }
  }

  li {
    list-style: none;
    margin: 24px 24px 0 24px;
    // flex-basis: 33.333333%;
    @media (min-width: 1500px) {
      width: 450px;
    }
  }
  li:nth-child(3n-1) {
    margin-left: 0;
    margin-right: 0;
  }
}
.contactSection {
  background: $secondary;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
}
.firstSec {
  background: red;
}
.secondSec {
  background: blue;
}
.thirdSec {
  background: pink;
}
